@font-face {
    font-family: "MonserratRegular";
    src: url("../font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MonserratSemiBold";
    src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "MonserratMedium";
    src: url("../font/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "MonserratLight";
    src: url("../font/Montserrat-Light.ttf") format("truetype");
}
.MonserratRegular_15_400{
    font-size: 0.9rem;
    font-weight: 400;
    font-family: MonserratRegular;
}
.MonserratRegular_18_400{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: MonserratRegular;
}
