body{
    width: 100%;
    padding: 0;
    margin: 0;
}

main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: auto;
}
.card__book{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-sizing: border-box;
    margin: 25px 0px;
}
.card__book__info{
    display: flex;
    flex-direction: column;
    padding:  0 10px;
}
.card__book__info__h2{
    margin: 10px 0px;
}
.card__book__info__block{
    display: flex;
    justify-content: space-between;

}
.card__book__info__block__info__author{
    color: #CB463E;
    margin: 5px 0px 0px 0px;
}
.card__book__info__block__info__nal{
    color: #898989;
    margin: 5px 0px;
}
.card__book__info__block__info__Nonal{
    color: #CB463E;
    margin: 5px 0px;
}
.card__book__info__block__ageLimit{
    color: #898989;
    padding: 5px;
    border: 1px solid #898989;
    border-radius: 4px;
}
